* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode {
  color: white;
}
.menu-bar {
  visibility: hidden;
}
.dark-btn {
  background: none;
  margin-top: 3px;
  font-size: 16px;
  border: none;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  z-index: 999;
  gap: 20%;
  position: fixed;
  color: black;
  border-bottom: 1px solid grey;

  height: 50px;
}
.nav-items {
  display: flex;
  padding: 20px;
  justify-content: end;
}
.logo-img-container {
  justify-content: start;
}
.logo-img {
  width: 40px;
  height: 40px;
}
.nav-items li {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  cursor: pointer;
}
.main {
  margin: 0 auto;
  max-width: 80vw;
  align-content: center;
  opacity: 0;
}

.header-img-container {
  max-width: 100%;
  max-height: 70%;
}
.header-img {
  max-width: 100%;
  max-height: 60%;
  width: 100%;
  height: 500px;
  object-fit: cover;
  max-height: 50%;
}
.header {
  margin-top: 50px;
}
.btn-right {
  border-radius: 10%;
  background: none;
  padding: 10px;
  position: absolute;
  background: white;
  right: 10%;
  top: 35%;
  /* bottom: 45%; */
}
.btn-left {
  border-radius: 10%;
  background: white;
  padding: 10px;

  position: absolute;
  left: 10%;
  top: 35%;
  /* bottom: 45%; */
}
.products {
  margin-top: 8%;
  margin-bottom: 8%;
}
.products-heading {
  text-align: center;
  margin-bottom: 3%;
  margin-top: 3%;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  height: 650px;
  max-height: 70%;
  overflow-y: scroll;
  gap: 40px;
  justify-content: center;
}
.products-container::-webkit-scrollbar {
  background-color: none;
  color: red;
}
.products-container-books {
  display: flex;
  flex-wrap: wrap;
  height: 750px;
  max-height: 70%;
  overflow-y: scroll;
  gap: 40px;
  justify-content: center;
}
.products-container-beauty {
  display: flex;
  flex-wrap: wrap;
  height: 750px;
  max-height: 70%;
  overflow-y: scroll;
  gap: 40px;
  justify-content: center;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 500px;
  height: 450px;
  width: 280px;
  text-align: center;
}
/* .product-card:hover {
  transform: scale(1.1);
} */
.product-card img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.product-card h2 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
.product-card p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}
.product-card .price {
  font-size: 20px;
  font-weight: bold;
  /* color: #007bff; */
}
.books {
  margin-bottom: 10%;
}
.img {
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 9999;
  top: 45%;
  bottom: 50%;
  left: 50%;
  right: 50%;
}
.footer {
  background-color: #333;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-text {
  color: white;
}
.footer-img {
  margin-top: 20px;
}
.footer-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-img-container p {
  margin-top: 20px;
}
.nav-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.section--hidden {
  display: none;
}
.beauty-products {
  margin-bottom: 10%;
}

.menu-bar-container {
  display: none;
}
@media screen and (max-width: 1300px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 999;
    gap: 20%;
    position: fixed;
    color: black;
    border-bottom: 1px solid grey;

    height: 50px;
  }

  .nav-items {
    display: none;
    background-color: white;
    margin-top: 50px;
    height: 100%;
    z-index: 99999;
  }
  .menu-bar-container {
    display: flex;
  }
  .menu-bar {
    position: fixed;
    background: white;
    width: 300px;
    /* height: 100%; */
    max-height: 100%;
    text-align: center;
    /* display: block; */
    left: 0;

    bottom: 0;
  }
  .menu-bar-items {
    padding: 20px;
    background-color: white;
  }
  .li-item {
    margin-bottom: 20px;
    margin-top: 10%;
    background-color: white;

    padding: 20px;
  }
  .li-item:hover {
    background-color: aliceblue;
    box-shadow: 10px 10px lightblue;
  }
}
@media screen and (max-width: 900px) {
  .header-img-container {
    max-width: 100%;
    max-height: 70%;
  }
  .header-img {
    max-width: 100%;
    max-height: 60%;
    width: 100%;
    height: 400px;
    object-fit: cover;
    max-height: 50%;
  }
  .header {
    margin-top: 50px;
  }
  .btn-right {
    border-radius: 10%;
    background: none;
    padding: 10px;
    position: absolute;
    background: white;
    right: 10%;
    top: 35%;
    /* bottom: 45%; */
  }
  .btn-left {
    border-radius: 10%;
    background: white;
    padding: 10px;

    position: absolute;
    left: 10%;
    top: 35%;
    /* bottom: 45%; */
  }
  .menu-bar-container {
    display: flex;
  }
}
@media screen and (max-width: 600px) {
  .header-img {
    max-width: 100%;
    max-height: 60%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    max-height: 50%;
  }
  .btn-left {
    border-radius: 10%;
    background: white;
    padding: 10px;

    position: absolute;
    /* left: 10%; */
    top: 20%;
    /* bottom: 45%; */
  }
  .btn-right {
    border-radius: 10%;
    background: none;
    padding: 10px;
    position: absolute;
    background: white;
    /* right: 10%; */
    top: 20%;
    /* bottom: 45%; */
  }
  .main {
    margin: 0 auto;
    max-width: 100vw;
    align-content: center;
    opacity: 0;
  }
  .menu-bar-container {
    display: flex;
  }
  .cards {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    height: 650px;
    max-width: 90vw;
    margin: 0 auto;
    max-height: 70%;
    overflow-y: scroll;
    gap: 40px;
    justify-content: center;
  }
  .card {
    width: 160px;
    height: 250px;
    overflow: scroll;
  }
  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .card p {
    font-size: 10px;
  }
  .card h2 {
    font-size: 10px;
  }
  .card small {
    font-size: 10px;
  }
}
@media screen and (max-width: 950px) {
  .btn-right {
    border-radius: 10%;
    background: none;
    padding: 10px;
    position: absolute;
    background: white;
    right: 10%;
    top: 25%;
    /* bottom: 45%; */
  }
  .menu-bar-container {
    display: flex;
  }
  .btn-left {
    border-radius: 10%;
    background: white;
    padding: 10px;

    position: absolute;
    left: 10%;
    top: 25%;
    /* bottom: 45%; */
  }
}
@media screen and (max-width: 500px) {
  .btn-right {
    border-radius: 10%;
    background: none;
    padding: 10px;
    position: absolute;
    background: white;
    right: 10%;
    top: 25%;
    /* bottom: 45%; */
  }
  .btn-left {
    border-radius: 10%;
    background: white;
    padding: 10px;

    position: absolute;
    left: 10%;
    top: 25%;
    /* bottom: 45%; */
  }
  .menu-bar-container {
    display: flex;
  }
  .img {
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 9999;
    top: 45%;
    bottom: 50%;
    left: 45%;
    right: 50%;
  }
}
.menu-bar-btn {
  display: flex;
  background: none;
  border: none;
  font-size: 20px;
}
.hidden {
  display: none;
}
.menu-bar {
  position: fixed;
  background: white;
  width: 300px;
  /* height: 100%; */
  max-height: 100%;
  text-align: center;
  /* display: block; */
  left: 0;
  top: 50px;
  transition: all 10s ease-in-out;
  bottom: 0;
}
.menu-bar-items {
  padding: 20px;
  background-color: white;
}
.li-item {
  margin-bottom: 20px;
  /* margin-top: 10%; */
  background-color: white;

  padding: 20px;
}
.li-item:hover {
  background-color: aliceblue;
  box-shadow: 10px 10px lightblue;
}
